# macOS metadata
.DS_Store
**/.DS_Store

# KiCad lock/session/local UI files
*.lck
*.kicad_prl

# KiCad backups/autosaves
*-backups/
*-bak/
*.bak
_autosave-*
*.tmp

# KiCad local history
.history/

# Local/private libraries not meant for the repo
KiCad-Library/

# Generated fabrication outputs
# Fabrication/
gerber_to_order/
Fabrication/gerber
Fabrication/gerber.zip
# *.gbr
# *.drl
# *.pos
# *.gbrjob
production/
fabrication-toolkit-options.json

# Archives / manual backups
# Do not ignore all zip files if final order ZIPs should be versioned.
*.backup.zip
*_backup.zip
*-backup.zip
Maglev.kicad_pcb.zip